.camera-container {
    position: relative !important;
    top: 50px !important;
    width: 98vw !important;
    height: 700px !important;
    object-fit: cover !important;
    margin-bottom: 20px
}

.camera-container-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.camera-video-box {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    color: #fff !important;
    background-color: transparent !important;
    padding: 5px !important;
    border-radius: 5px !important;
    justify-content: center !important;
    align-items: center !important;
    width: 90vw !important;
    display: flex !important;
    height: 650px !important;
    border: 2px dashed #fff
}

.camera-button {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: white;
    border: 5px solid #fff;
    /* White outer ring */
    border-radius: 50%;
    /* Makes the button round */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    /* Optional: adds shadow for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    /* Ensures no overflow of inner contents */
}

.camera-button::after {
    content: '';
    position: absolute;
    width: 80%;
    /* Smaller circle percentage of the button size */
    height: 80%;
    background-color: #000;
    /* Inner circle color */
    border-radius: 50%;
    z-index: 2;
}

.camera-button:active::after {
    width: 75%;
    /* Slightly smaller when clicked */
    height: 75%;
}

.image-previews-container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin-top: 20px
}

.image-previews-box {
    margin: 10px !important;
    position: relative
}

.image-preview-image {
    width: 100px !important;
    height: 100px
}

.image-preview-remove {
    padding: 5px 10px !important;
    background-color: red !important;
    color: white !important;
    border: none !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    cursor: pointer !important;
    z-index: 5 !important;
}